.title{
    display: flex;
    align-items: center;
    justify-content: center;
}
.info{
    position: relative;
    align-items: center;
    justify-content: center;
}
body {
    align-items: center;
    justify-content: center;
    background: linear-gradient(-45deg, #cef32c, #eb950c, #011081, #ff0059);
    background-size: 400% 400%;
    animation: gradient 1s ease infinite;
    height: 100vh;
  }

  @keyframes gradient {
    0% {
      background-position: 0% 50%;
    }
    50% {
      background-position: 100% 50%;
    }
    100% {
      background-position: 0% 50%;
    }
  }

.cat-animation1 {
    position: fixed;
    top: 0;
    left: 0;
    width: 50%;
    height: 50%;
    background-image: url('maxwell1.png');
    background-size: cover;
    animation: moveCat1 2s ease-in-out infinite;
}

@keyframes moveCat1 {
    0% {
        transform: translate(-50%, 0%); 
    }
    25% {
        transform: translate(0%, 100%);
    }
    50% {
        transform: translate(100%, 0%);
    }
    75% {
        transform: translate(100%, 150%); 
    }
    100%
    {
        transform: translate(150%, 200%);
    }
}

.cat-animation2
{
    position: absolute;
    top: 50px;
    left: 50%;
    width: 25%;
    height: 25%;
    background-image: url('BUTTER.png');
    background-size: cover;
    animation: moveCat2 0.5s ease-in-out infinite;
    
}
@keyframes moveCat2 {
    0% {
        transform: translate(200px, 200px);
    }
    50% {
        transform: translate(25%, 25px);
    }
    100% {
        transform: translate(200px, 200px);
    }
}

.cat-animation3
{
    position: fixed;
    top: 0%;
    left: 0%;
    width: 100%;
    height: 100%;
    background-image: url('maxwell2.png');
    background-size: cover;
    animation: moveCat3 5s ease-in-out infinite;
    
}
@keyframes moveCat3 {
    0% {
        transform: translate(100px, 100px);
    }
    50% {
        transform: translate(50%, 50%);
    }
    100% {
        transform: translate(-10%, -10%);
    }
}

#newTask{
    background-color: #2f2fe2; 
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
}
/* Position 1 */
.float_1 {
    float: right;
}

/* Position 2 */
.float-right {
    float: left;
}

/* Position 3 */
.float-lg-right {
    float: right;
}

/* Position 4 */
.float-md-left {
    float: left;
}

/* Position 5 */
.float-lg-left {
    float: left;
}
